<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aiKey" value="e4767236-8411-4688-8ab2-440ce0583c81"/>
    <add key="FileSystemWatcherFilter" value="*.log"/>
    <add key="FileSystemWatcherFolder" value="c:\users\mthurston\documents\test"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>