<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--This is the ApplicationInsights instrumentation key-->
    <add key="aiKey" value="e4767236-8411-4688-8ab2-440ce0583c81"/>
    <!--The file extension of the log file.  When this specific file is created, the service will send events to AI-->
    <add key="FileSystemWatcherFilter" value="*.log"/>
    <!--Target folder for FileSystemWatcher to observe-->
    <add key="FileSystemWatcherFolder" value="c:\users\mthurston\documents\test"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>